#registrationFormDiv {
    height: 600px;
    width: 800px;
    margin: 10px 50px 10px 250px;
    padding-top: 5px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#registrationPanelDiv{
    
    width:100%;
}

.registrationFormFieldDiv {
    border: 2px solid blue;
}                    

#navi {
    height: 45px;
    width: 100%;
    background-color: #64bc62;
    color: white;
    line-height: 45px;
    font-size: 22px;
    padding-left: 5px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display:inline-block;/*display:inline-block*/
    position:relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=radio] {
    width: 20px;
    height: 15px;
    margin:15px 5px;
    font-size:30px;
    background-color:white;
}

.errorNameSign{
    left:1050px;
    top:220px;
}

.errorEmailSign {
    left: 1050px;
    top: 295px;
}

.errorOrganisationSign {
    left: 1050px;
    top: 505px;
}

.errorCaptchaSign {
    left: 780px;
    top: 750px;
}

.refreshSign {
    left: 750px;
    top: 685px;
    position:absolute;
}

.errorNameMsg {
    margin-right: 60px;
    left: 900px;
    top: 220px;
}

.errorEmailMsg {
    margin-right: 60px;
    left: 900px;
    top: 295px;
}

.errorOrganisationMsg {
    margin-right: 60px;
    left: 820px;
    top: 505px;
}

.errorCaptchaMsg {
    margin-right: 60px;
    left: 670px;
    top: 750px;
}

.hiddenItem {
    position: absolute;
    visibility: hidden;
    color:red;
}

select{
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.panelGender {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 3px 5px;
    margin: 8px 0;
}

.captcha {
    font-size: 35px;
    font-style: italic;
    font-display: fallback;
    text-decoration: line-through;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color:  red;
    padding:5px 25px 5px 25px;
}

#captchaTextDiv{
    margin-top:10px;
}

.panelCaptcha {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 15px;
    margin: 8px 0px 8px 200px;
    width: 350px;
    background-color: white;
}




