<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="StudyZoneConnectionString" connectionString="Data Source=DESKTOP-PI9H8OA\\SQLEXPRESS;Initial Catalog=StudyZone;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudyZoneConnectionString2" connectionString="Data Source=DESKTOP-PI9H8OA\\SQLEXPRESS;Initial Catalog=StudyZone;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudyZoneConnectionString3" connectionString="Data Source=DESKTOP-PI9H8OA\SQLEXPRESS;Initial Catalog=StudyZone;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudyZoneConnectionString4" connectionString="Data Source=DESKTOP-PI9H8OA\\SQLEXPRESS;Initial Catalog=StudyZone;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudyZoneConnectionString5" connectionString="Data Source=DESKTOP-PI9H8OA\\SQLEXPRESS;Initial Catalog=StudyZone;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudyZoneConnectionString6" connectionString="Data Source=DESKTOP-PI9H8OA\\SQLEXPRESS;Initial Catalog=StudyZone;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudyZoneConnectionString7" connectionString="Data Source=DESKTOP-PI9H8OA\\SQLEXPRESS;Initial Catalog=StudyZone;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudyZoneConnectionString8" connectionString="Data Source=DESKTOP-PI9H8OA\\SQLEXPRESS;Initial Catalog=StudyZone;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudyZoneConnectionString9" connectionString="Data Source=DESKTOP-PI9H8OA\\SQLEXPRESS;Initial Catalog=StudyZone;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" maxRequestLength="102400" executionTimeout="1200"/>
    <pages  enableEventValidation="false"></pages>
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>
</configuration>
